---
import Course from '@layouts/Course.astro';
import { getCollection } from 'astro:content';
import { assignedBeforeNow, capitalizeString, formatWeekString, isHrefExternal, SYMBOLS } from 'src/global';
import { DateTime } from 'luxon';
const weeklyResources = (await getCollection('weekly-resources', ({ id }) => /computer-science/.test(id)));
const startDate = DateTime.fromISO('2026-09-04');
const endDate = DateTime.fromISO('2027-01-31');
const filteredWeeklyResources = weeklyResources.filter((resource) => {
  const date = DateTime.fromISO(resource.id.slice(-10));
  const afterStart = date.diff(startDate).milliseconds > 0;
  const beforeEnd = date.diff(endDate).milliseconds < 0;
  return afterStart && beforeEnd;
});
const getResourceTarget = (resource: typeof filteredWeeklyResources[0]['data']['resources'][0]) => {
  // all slides opened in new tab
  if (resource.type === 'slides') return '_blank';
  // external links opened in new tab
  return resource.href && isHrefExternal(resource.href) ? '_blank' : undefined;
};
let breakWeeks = 0;
const resourcesWithWeekNumber = filteredWeeklyResources.map((resource, i) => {
  const minutes = resource.data.resources.flatMap(resource => resource.time).reduce((a, b) => a + b, 0)
  if (minutes === 0) {
    breakWeeks++;
  }
  return {
    ...resource,
    week: i + 1 - breakWeeks
  };
});
---

<Course course="Computer Science" semester="Fall">
  <blockquote>
    <p>There are only two hard things in Computer Science: cache invalidation and naming things.</p>
    <p><cite>Phil Karlton</cite></p>
  </blockquote>
  <h2><span class="secret-link">Course</span> Resources</h2>
  <p>These resources will be used throughout the entirety of the course.</p>
  <table>
    <tbody>
      <tr>
        <td>
          <a href="mailto:rylanschubkegel@gmail.com" target="_blank">rylanschubkegel@gmail.com</a>
          <br><a href="tel:+13608401401">360-840-1401</a>
        </td>
        <td>
          Instructor contact information.
        </td>
      </tr>
      <tr>
        <td>
          <a href="/2026/fall/computer-science/syllabus">Course Syllabus</a>
        </td>
        <td>
          Includes an overview of the topics covered, grading criteria, and participation expectations.
        </td>
      </tr>
      <tr>
        <td>
          <a href="https://replit.com/" target="_blank">Replit</a>
        </td>
        <td>
          Online <abbr title="integrated development environment">IDE</abbr> used for coding; can be accessed from any computer via Google account or username/password.
        </td>
      </tr>
      <tr>
        <td>
          <a href="https://code.visualstudio.com/" target="_blank">VS Code</a>
        </td>
        <td>
          <abbr title="integrated development environment">IDE</abbr> used for coding; runs locally as a desktop application. Requires <a href="https://www.python.org/" target="_blank">Python</a> interpreter to be installed on your machine.
        </td>
      </tr>
      <tr>
        <td>
          <a href="https://www.python.org/" target="_blank">Python</a>
        </td>
        <td>
          Python interpreter that runs `.py` files on your local machine.
        </td>
      </tr>
      <tr>
        <td>
          <a href="https://www.pygame.org/docs/" target="_blank">Pygame</a>
        </td>
        <td>
          Documentation for the Pygame library which is used for making games in Python.
        </td>
      </tr>
    </tbody>
  </table>
  <h2>Weekly Resources</h2>
  <details>
    <summary>Legend</summary>
    <ul class="emoji">
      {
        Object.entries(SYMBOLS).map(([title, emoji]) => (
          <li>{emoji} {capitalizeString(title)}</li>
        ))
      }
    </ul>
  </details>
  <table>
    <thead>
      <tr>
        <th>Week</th>
        <th>Topic(s)</th>
        <th>Resources</th>
      </tr>
    </thead>
    <tbody>
      {
        resourcesWithWeekNumber.map(({ id, data, week }, index) => (
          <tr style={`display: ${assignedBeforeNow(id.slice(-10)) ? 'table-row' : 'none'};`}>
            <td>
              <div>
                <strong>Week {week}</strong>
              </div>
              <div>
                <em>{formatWeekString(id.slice(-10), { duration: index === 0 ? (1000 * 60 * 60 * 24 * 7) : undefined })}</em>
              </div>
            </td>
            <td>
              <ul>
                {
                  data.topics.map(topic => (
                    <li>{topic}</li>
                  ))
                }
              </ul>
            </td>
            <td>
              <ul class="emoji">
                {
                  data.resources.map(resource => (
                    <li>
                      {SYMBOLS[resource.type]} <a href={resource.href} target={getResourceTarget(resource)}>{resource.title}</a>
                    </li>
                  ))
                }
              </ul>
            </td>
          </tr>
        ))
      }
    </tbody>
  </table>
</Course>

<script>
  let clicks = 0;
  const element = document.querySelector<HTMLElement>('.secret-link');
  if (element) {
    element.addEventListener('click', () => {
      clicks += 1;
      if (clicks === 3) {
        let href = window.location.href;
        if (href.at(-1) === '/') href = href.slice(0, -1);
        window.location.href = href + '/instructor';
      }
    });
  }
</script>