---
import Course from '@layouts/Course.astro';
import { getCollection } from 'astro:content';
import { formatWeekString, isHrefExternal, SYMBOLS } from 'src/global';
import Gatekeeper from '@components/ShowForInstructor.tsx';
import { DateTime } from 'luxon';
const exampleImports = import.meta.glob('../../../../../public/2026/fall/computer-science/examples/*.py', { eager: true });
const examples = Object.keys(exampleImports).map(url => url.replace(/^.+\/public/, ''));
const weeklyResources = (await getCollection('weekly-resources', ({ id }) => /computer-science/.test(id)));
const startDate = DateTime.fromISO('2026-09-01');
const endDate = DateTime.fromISO('2027-01-31');
const filteredWeeklyResources = weeklyResources.filter((resource) => {
  const date = DateTime.fromISO(resource.id.slice(-10));
  const afterStart = date.diff(startDate).milliseconds > 0;
  const beforeEnd = date.diff(endDate).milliseconds < 0;
  return afterStart && beforeEnd;
});
let breakWeeks = 0;
const resourcesWithCumulativeMinutes = filteredWeeklyResources.map((resource, i) => {
  const minutes = resource.data.resources.flatMap(resource => resource.time).reduce((a, b) => a + b, 0)
  if (minutes === 0) {
    breakWeeks++;
  }
  return {
    ...resource,
    minutes,
    week: i + 1 - breakWeeks
  };
});
const totalMinutes = resourcesWithCumulativeMinutes.reduce((a, b) => a + b.minutes, 0);
const getResourceTarget = (resource: typeof filteredWeeklyResources[0]['data']['resources'][0]) => {
  // all slides opened in new tab
  if (resource.type === 'slides') return '_blank';
  // external links opened in new tab
  return resource.href && isHrefExternal(resource.href) ? '_blank' : undefined;
};
---

<Course course="Computer Science" semester="Fall">
  <p>
    &larr; <a href="/2026/fall/computer-science">Course Homepage</a>
  </p>
  <h1>Instructor Page</h1>
  <p>Contains information that <strong>should only be viewed by the instructor</strong>.</p>
  <main>
    <Gatekeeper client:load>
      <div>
        <h3>Examples</h3>
        <ul>
          {examples.map(url => (
            <li>
              <a href={url}>{url.slice(url.lastIndexOf('/') + 1)}</a>
            </li>
          ))}
        </ul>
        <h2>All Weekly Resources</h2>
        <table>
          <thead>
            <tr>
              <th>Week</th>
              <th>Topic(s)</th>
              <th>Resources</th>
            </tr>
          </thead>
          <tbody>
            {
              resourcesWithCumulativeMinutes.map(({ id, data, minutes, week }, index) => (
                <tr>
                  <td>
                    <div>
                      <strong>Week {week}</strong>
                    </div>
                    <div>
                      <em>{formatWeekString(id.slice(-10), { duration: index === 0 ? (1000 * 60 * 60 * 24 * 7) : undefined })}</em>
                    </div>
                    <div style="text-align:center;background:#8888;border-radius:2px;padding:0 4px;">
                      {minutes >= 60 ? <span>{Math.floor(minutes / 60)} hr</span> : ''}
                      <span>{minutes % 60} min</span>
                    </div>
                  </td>
                  <td>
                    <ul>
                      {
                        data.topics.map(topic => (
                          <li>{topic}</li>
                        ))
                      }
                    </ul>
                  </td>
                  <td>
                    <ul class="emoji">
                      {
                        data.resources.map(resource => (
                          <li>
                            {SYMBOLS[resource.type]} <a href={resource.href} target={getResourceTarget(resource)}>{resource.title}</a>
                          </li>
                        ))
                      }
                    </ul>
                  </td>
                </tr>
              ))
            }
            <tr>
              <td>
                <strong>Cumulative</strong>
              </td>
              <td>N/A</td>
              <td>{Math.floor(totalMinutes / 60)} hr {Math.floor(totalMinutes % 60)} min</td>
            </tr>
          </tbody>
        </table>
      </div>
    </Gatekeeper>
  </main>
</Course>