---
import Course from '@layouts/Course.astro'
import type { GetStaticPaths } from 'astro'
import { getCollection } from 'astro:content'
import { assignedBeforeNow, capitalizeString, isHrefExternal, SYMBOLS } from 'src/global'
import { DateTime } from 'luxon'

export const getStaticPaths = (async () => {
  // Get all articles, assignments, slides, videos, and games from src/content/
  let articles = await getCollection('articles')
  let assignments = await getCollection('assignments')
  let slides = await getCollection('slides')
  let videos = await getCollection('videos')
  let games = await getCollection('games')

  // Combine all resources into a single array
  const computerScienceId = 'computer-science'
  const computerScienceArticles = articles.filter(article => article.id.startsWith(computerScienceId)).flatMap(({ id, collection, data }) => data.map(resource => ({ id, collection, data: resource })))
  const computerScienceAssignments = assignments.filter(assignment => assignment.id.startsWith(computerScienceId)).flat()
  const computerScienceSlides = slides.filter(slide => slide.id.startsWith(computerScienceId)).flat()
  const computerScienceVideos = videos.filter(video => video.id.startsWith(computerScienceId)).flatMap(({ id, collection, data }) => data.map(resource => ({ id, collection, data: resource })))
  const computerScienceGames = games.filter(game => game.id.startsWith(computerScienceId)).flatMap(({ id, collection, data }) => data.map(resource => ({ id, collection, data: resource })))
  const resources = [...computerScienceArticles, ...computerScienceAssignments, ...computerScienceSlides, ...computerScienceVideos, ...computerScienceGames]

  // Group resources by year
  let resourcesByYear = resources.reduce(
    (acc, resource) => {
      const year = resource.data.date.getFullYear()
      if (!acc[year]) {
        acc[year] = []
      }
      acc[year].push(resource)
      return acc
    },
    {} as Record<number, (typeof resources)[number][]>,
  )

  // Convert resources object to static path data
  return Object.keys(resourcesByYear).map(year => ({
    params: {
      year,
    },
    props: {
      resources: resourcesByYear[parseInt(year)].toSorted((a, b) => a.data.date.getTime() - b.data.date.getTime()),
    },
  }))
}) satisfies GetStaticPaths

const {
  props: { resources },
  url: { pathname },
  params: { year },
} = Astro

// Group resources by assignment week
let resourcesByDate = resources.reduce(
  (acc, resource) => {
    const date = resource.data.date.toISOString().slice(0, 10)
    if (!acc[date]) {
      acc[date] = []
    }
    acc[date].push(resource)
    return acc
  },
  {} as Record<string, (typeof resources)[number][]>,
)

const getResourceHref = (resource: (typeof resources)[number]) => {
  if (!resource.data.href) {
    const slug = resource.id.split('/').at(-1)?.split('.').at(0)
    if (slug) {
      return `${pathname}/${resource.collection}/${slug}`
    }
  }
  return resource.data.href
}

const getAnchorTarget = (href: string | undefined) => {
  // external links opened in new tab
  return href && isHrefExternal(href) ? '_blank' : undefined
}
---

<Course course="computer-science" year={year}>
  <blockquote>
    <p>There are only two hard things in Computer Science: cache invalidation and naming things.</p>
    <p><cite>Phil Karlton</cite></p>
  </blockquote>
  <h2><span class="secret-link">Course</span> Resources</h2>
  <p>These resources will be used throughout the entirety of the course.</p>
  <table>
    <tbody>
      <tr>
        <td>
          <a href="mailto:rylanschubkegel@gmail.com" target="_blank">rylanschubkegel@gmail.com</a>
          <br /><a href="tel:+13608401401">360-840-1401</a>
        </td>
        <td> Instructor contact information. </td>
      </tr>
      <tr>
        <td>
          <a href={`${pathname}/syllabus`}>Course Syllabus</a>
        </td>
        <td> Includes an overview of the topics covered, grading criteria, and participation expectations. </td>
      </tr>
      <tr>
        <td>
          <a href="https://replit.com/" target="_blank">Replit</a>
        </td>
        <td>
          Online <abbr title="integrated development environment">IDE</abbr> used for coding; can be accessed from any computer via Google account or username/password.
        </td>
      </tr>
      <tr>
        <td>
          <a href="https://code.visualstudio.com/" target="_blank">VS Code</a>
        </td>
        <td>
          <abbr title="integrated development environment">IDE</abbr> used for coding; runs locally as a desktop application. Requires <a href="https://www.python.org/" target="_blank">Python</a> interpreter to be installed on your machine.
        </td>
      </tr>
      <tr>
        <td>
          <a href="https://www.python.org/" target="_blank">Python</a>
        </td>
        <td> Python interpreter that runs `.py` files on your local machine. </td>
      </tr>
      <tr>
        <td>
          <a href="https://www.pygame.org/docs/" target="_blank">Pygame</a>
        </td>
        <td> Documentation for the Pygame library which is used for making games in Python. </td>
      </tr>
    </tbody>
  </table>
  <h2>Weekly Resources</h2>
  <details>
    <summary>Legend</summary>
    <ul class="emoji">
      {
        Object.entries(SYMBOLS).map(([title, emoji]) => (
          <li>
            {emoji} {capitalizeString(title)}
          </li>
        ))
      }
    </ul>
  </details>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th hidden>Topic(s)</th>
        <th>Resources</th>
      </tr>
    </thead>
    <tbody>
      {
        Object.entries(resourcesByDate).map(([date, resources]) => (
          <tr style={`display: ${assignedBeforeNow(date) ? 'table-row' : 'none'};`}>
            <td>
              <em>{DateTime.fromISO(date, { zone: 'America/Los_Angeles' }).toLocaleString({ month: 'short', day: 'numeric' })}</em>
            </td>
            <td hidden>
              <ul>
                {resources
                  .flatMap(resource => resource.data.topics)
                  .map(topic => (
                    <li>{topic}</li>
                  ))}
              </ul>
              {resources.flatMap(resource => resource.data.topics).length === 0 && <p>N/A</p>}
            </td>
            <td>
              <ul class="emoji">
                {resources.map(resource => (
                  <li>
                    {SYMBOLS[resource.data.type as keyof typeof SYMBOLS]}{' '}
                    <a href={getResourceHref(resource)} target={getAnchorTarget(resource.data.href)}>
                      {resource.data.title}
                    </a>
                  </li>
                ))}
              </ul>
            </td>
          </tr>
        ))
      }
    </tbody>
  </table>
</Course>

<script>
  let clicks = 0
  const element = document.querySelector<HTMLElement>('.secret-link')
  if (element) {
    element.addEventListener('click', () => {
      clicks += 1
      if (clicks === 3) {
        let href = window.location.href
        if (href.at(-1) === '/') href = href.slice(0, -1)
        window.location.href = href + '/instructor'
      }
    })
  }
</script>
